/* 1. CSS RESET */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}



/* 2. Typography */

a {
    text-decoration: none;
    color: #212121;  
}

p {
    line-height: 1.65em;    
}

h1 {
    font-family: 'Passion One', sans-serif;
    font-weight: 100;
    color: #212121;
    font-size: 5.063em;
    margin: 0.75em auto 0.25em auto;    
    text-align: center;
}


h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #FFF;
    font-size: 2.25em;    
    margin: 2.25em auto 1em auto;    
    width: 30%;
    padding: 0.25em;    
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 1em auto 0.5em auto;
    font-size: 1.75em;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-style: regular;
    font-size: 1.75em;
    display: inline-block;
}

body {
    font-family: 'Merriweather', serif;
    font-style: regular;    
    margin: auto;
    color: #212121;
}

ul {
    list-style-position: inside;
}

li {
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

li span {
    font-weight: 800;
}

.intro {
    text-align: center;
    font-style: italic;
}



/* GENERAL STYLING */

.button {
    padding: 1.25em;
    background-color: #42CD85;
    cursor: pointer;
    display: block;
    width: 10em;
    margin: 1em auto;
    text-align: center;
}





/* NAV */

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 1em 2em;
}

nav li:hover {
    cursor: pointer;    
}

.dropdown {
    position: relative;
}

ul.dropdown-content li {
    display: block;
    background-color: #FFF;
    text-align: left;
    margin: 0em;   
    padding: 1em;
    margin-left: -1em; 
}

/*
ul.dropdown-content li:hover {
    background-color: #FBCECF;  
}*/

.dropdown-content {
    position: absolute;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* 3. GRID */

.grid {
    display: grid;
    grid-template-columns: 50% 50%; 
    width: 70%;
    max-width: 850px;
    margin: auto;
    grid-gap: 1em 2.25em;
}

.grid-item {
}

.item-1 {
    grid-column: 1;
}

.item-2 {
    grid-column: 2;
}

.item-span {
    grid-column: 1/span 2;
}


/* COLOURS */

.iron-color h2 {
    background-color: #CD424A;
}
.iron-color h3 {
    color: #CD424A;
}
.iron-color {
    fill: #cd424a;
}

.calcium-color h2 {
    background-color: #48CEE3;
}
.calcium-color h3 {
    color: #48CEE3;
}
.calcium-color {
    fill: #48CEE3;
}

.potassium-color h2 {
    background-color: #FFC558;
}
.potassium-color h3 {
    color: #FFC558;
}
.potassium-color {
    fill: #FFC558;
}

.sodium-color h2 {
    background-color: #636972;
}
.sodium-color h3 {
    color: #636972;
}
.sodium-color {
    fill: #636972;
}

.magnesium-color h2 {
    background-color: #42CD85;
}
.magnesium-color h3 {
    color: #42CD85;
}
.magnesium-color {
    fill: #42CD85;
}



/* ILLUSTRATIONS */
.image-header {
    background-color: #FBCECF;
}

.image-header svg {
    width: 30%;
    display: block;
    margin: auto;
    padding: 4em 0em 5em 0em;
}

.grid h2:first-of-type {
    margin-top: -0.75em;
}

.cell {
    width: 70%;
    display: block;
    margin: 4em auto;
} 
    
.first-letter {
    font-size:10.75em;
    font-family:PassionOne-Regular, Passion One;
}
    
.second-letter {
    font-size:65%;
    letter-spacing:0em;
}
    
.subtext {
    fill: #212121;
    font-size:2.25em;
    font-family:Merriweather-Light, Merriweather;
} 

.def-highlight {
    color: red;
}






/* MENU 

.menu-grid {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(5, 20%);
    width: 70%;
    margin: auto;
    grid-gap: 1em;
}

.menu-icon {
    grid-column: 1;
    width: 5em;
}

.menu-item {
    grid-column: 2;
    align-self: center;    
}

*/

/*
.menu-grid {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: repeat(5, 20%);
    margin: auto;
}

.menu-item {
    grid-column: 2;
}
*/
/*
.menu-item a {
    display: flex;  
    align-items: center; 
    justify-content: space-between;   
} */

.menu-icon {
    width: 5em;
}

.menu-item a {
    display: grid;
    grid-template-columns: 10% 20% 60% 1fr;
    margin: auto;
    align-items: center;  
    width: 70%;  
}

.menu-icon {
    grid-column: 1;
}

.menu-title {
    grid-column: 2;
    margin-left: 0.75em;
}

.line {
    grid-column: 3;
    width: 100%;
    height: 1;
    stroke: #212121;
    stroke-dasharray: 10;
}

.menu-symbol {
    grid-column: 4;
    justify-self: end;
}

.menu-item p {
    display: inline-block;
}

.menu-item a {
    padding: 0em 1em;
    /* 15% to fill width */
}

.menu-item a:hover {
    cursor: pointer;
}

.iron a:hover, li.iron:hover {
    background-color: #FBCECF;
}

.calcium a:hover, li.calcium:hover  {
    background-color: #CEEFFB;
}

.potassium a:hover, li.potassium:hover {
    background-color: #FBEACE;
}

.sodium a:hover, li.sodium:hover {
    background-color: #D5D5D5;
}

.magnesium a:hover, li.magnesium:hover {
    background-color: #DDFBCE;
}