/* 1. CSS RESET */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}



/* 2. Typography */

a {
    text-decoration: none;
    color: #212121;  
}

p {
    line-height: 1.65em;    
}

h1 {
    font-family: 'Passion One', sans-serif;
    font-weight: 100;
    color: #212121;
    font-size: 5.063em;
    margin: 0.75em auto 0.25em auto;    
    text-align: center;
}


h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #FFF;
    font-size: 2.25em;    
    margin: 2.25em auto 1em auto;    
    width: 30%;
    padding: 0.25em;    
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 1em auto 0.5em auto;
    font-size: 1.75em;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    display: inline-block;
}

body {
    font-family: 'Merriweather', serif;
    margin: auto;
    color: #212121;
}

nav {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}

nav li ul {
    font-family: 'Merriweather', serif;
    font-size: 75%;
}

ul {
    list-style-position: inside;
}

li {
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

li span {
    font-weight: 800;
}

.intro {
    text-align: center;
    font-style: italic;
}



/* GENERAL STYLING */

.button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 1.25em;
    padding: 0.75em 0.25em;
    background-color: #212121; 
    /*
    border: 3px solid #48CEE3;
    */
    border-radius: 2em;
    cursor: pointer;
    display: block;
    width: 8em;
    margin: 1em auto;
    text-align: center;
    transition: all 0.2s;

    -webkit-box-shadow: 0px 9px 16px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 9px 16px -8px rgba(0,0,0,0.35);
    box-shadow: 0px 9px 8px -8px rgba(0, 0, 0, 0.30),    
}

.button:hover {
    cursor: pointer;
    box-shadow: none;
    transform: translate(0px, 4px);
    background-color: #48CEE3;
}

.button:active {
}





/* NAV */

nav {
    width: 100%;
    background-color: #FFF;
    position: absolute;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: 0px 6px 8px -8px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 6px 8px -8px rgba(0,0,0,0.15);
    box-shadow: 0px 6px 8px -8px rgba(0,0,0,0.15);
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 1em 2em;
}

nav li:hover {
    cursor: pointer;    
}

.dropdown {
    position: relative;
}

ul.dropdown-content {
    -webkit-box-shadow: 4px 6px 8px -8px rgba(0,0,0,0.15);
    -moz-box-shadow: 4px 6px 8px -8px rgba(0,0,0,0.15);
    box-shadow: 4px 6px 8px -8px rgba(0,0,0,0.15);
}

ul.dropdown-content li {
    display: block;
    background-color: #FFF;
    text-align: left;
    margin: 0em;  
    padding: 0.75em 1em 0.75em 1em;
    margin-left: -1em; 
}

/*
ul.dropdown-content:first-child {
    margin-top: 1em;     
}
*/

.dropdown-content {
    position: absolute;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* LANDING PAGE */

.full-screen {
    position: relative;
    background-color: #ffc558;
    height: 100vh;
}

.full-screen h1 {
    position: absolute;
    z-index: 2;    
}

.full-screen div {
    position: absolute;
    z-index: 3; 
    width: 100%;
    bottom: 1em;
}

.image-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.pot {
    fill: #fff;
}

.logo-cloud {
    fill: #212121;
    fill:#FFF;
    display: none;
}

.banner {
    fill: #CD424A;
    -webkit-box-shadow: 0px 9px 16px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 9px 16px -8px rgba(0,0,0,0.35);
    box-shadow: 0px 9px 16px -8px rgba(0, 0, 0, 0.35);
}

.logo-banner {
    display: none;    
}

.logo-text {
    font-family: 'Passion One', sans-serif;
    font-weight: 100;
    font-size: 6em;    
    fill:#fff;
}

.outline {
    fill:none;
    stroke-miterlimit:10;
    stroke:#212121;
    stroke-width:2;
}




/* 3. GRID */

.grid {
    display: grid;
    grid-template-columns: 50% 50%; 
    width: 70%;
    max-width: 850px;
    margin: auto;
    grid-gap: 1em 2.25em;
}

.item-1 {
    grid-column: 1;
}

.item-2 {
    grid-column: 2;
}

.item-span {
    grid-column: 1/span 2;
}


/* COLOURS */

.iron-color h2 {
    background-color: #CD424A;
}
.iron-color h3 {
    color: #CD424A;
}
.iron-color {
    fill: #cd424a;
}

.calcium-color h2 {
    background-color: #48CEE3;
}
.calcium-color h3 {
    color: #48CEE3;
}
.calcium-color {
    fill: #48CEE3;
}

.potassium-color h2 {
    background-color: #FFC558;
}
.potassium-color h3 {
    color: #FFC558;
}
.potassium-color {
    fill: #FFC558;
}

.sodium-color h2 {
    background-color: #636972;
}
.sodium-color h3 {
    color: #636972;
}
.sodium-color {
    fill: #636972;
}

.magnesium-color h2 {
    background-color: #42CD85;
}
.magnesium-color h3 {
    color: #42CD85;
}
.magnesium-color {
    fill: #42CD85;
}



/* ILLUSTRATIONS */
.image-header {
    position: relative;
    z-index: -1;
    -webkit-box-shadow: inset 0px -9px 16px -8px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px -9px 16px -8px rgba(0,0,0,0.15);
    box-shadow: inset 0px -9px 16px -8px rgba(0,0,0,0.15);
}

.image-header svg {
    width: 30%;
    display: block;
    margin: auto;
    padding: 7em 0em 6em 0em;
}

.grid h2:first-of-type {
    margin-top: -0.75em;
}

.cell {
    width: 70%;
    display: block;
    margin: 4em auto;
} 
    
.first-letter {
    font-size:10.75em;
    font-family:PassionOne-Regular, Passion One;
}
    
.second-letter {
    font-size:65%;
    letter-spacing:0em;
}
    
.subtext {
    fill: #212121;
    font-size:1.75em;
    font-family:Merriweather-Light, Merriweather;
} 

.def-highlight {
    color: red;
}






/* MENU */

.menu {
    background-color: #CD424A;
    color: #fff;
    text-align: center;
    width: 30%;
    margin-top: 1em;
}

.menu-grid {
    width: 70%;  
    max-width: 850px;    
    margin: auto;
}

.menu-icon {
    width: 4em;
    padding: 0.25em;
}

.menu-item a {
    display: grid;
    grid-template-columns: 10% 20% 60% 1fr;
    margin: auto;
    align-items: center;  
}

.menu-icon {
    grid-column: 1;
}

.menu-title {
    grid-column: 2;
    margin-left: 0.75em;
}

.line {
    grid-column: 3;
    width: 100%;
    height: 1;
    stroke: #212121;
    stroke-dasharray: 10;
}

.menu-symbol {
    grid-column: 4;
    justify-self: end;
}

.menu-item p {
    display: inline-block;
}

.menu-item a {
    padding: 0em 1em;
    /* 15% to fill width */
}

.menu-item a:hover {
    cursor: pointer;
}

.iron a:hover, li.iron:hover, .iron-color > .image-header {
    background-color: #FBCECF;
}

.calcium a:hover, li.calcium:hover, .calcium-color > .image-header  {
    background-color: #CEEFFB;
}

.potassium a:hover, li.potassium:hover, .potassium-color > .image-header {
    background-color: #FBEACE;
}

.sodium a:hover, li.sodium:hover, .sodium-color > .image-header {
    background-color: #D5D5D5;
}

.magnesium a:hover, li.magnesium:hover, .magnesium-color > .image-header {
    background-color: #DDFBCE;
}


/* HOVER */
.subtext:hover {
    cursor: help;
}



/* FOOTER */
footer {
    margin-top: 2.25em;
    padding: 1.75em;
    background-color: #CEEFFB;
    -webkit-box-shadow: inset 0px 6px 8px -8px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 6px 8px -8px rgba(0,0,0,0.15);
    box-shadow: inset 0px 6px 8px -8px rgba(0,0,0,0.15);
}

footer a {
    display: block;
    margin: auto;
    width: 7em;
}





/* RESPONSIVE */

@media (max-width: 60em) {

    /* MENU */
    .line {
        display:none;
    }

    .menu-item a {
        grid-template-columns: 1fr 40% 1fr 1fr;
    }
}

@media (max-width: 40em) {    
    /* ELEMENTS */
    .item-1, .item-2 {
        grid-column: 1/span 2;        
    }
}