<header>
    <nav>
        <ul>
            <li class="mobile-nav"><a>Menu</a></li>
                <li class="nav-content"><img src="images/fork.png"/><a href="index.html">Home</a></li>
                <li class="nav-content"><img src="images/fork.png"/><a href="breakdown.html">What Makes an Element?</a></li>                
                <li class="nav-content dropdown"><img src="images/fork.png"/><a href="menu.html">Elements</a>
                    <ul class="dropdown-content">
                        <a href="calcium.html"><li class="calcium">Calcium</li></a>
                        <a href="iron.html"><li class="iron">Iron</li></a>
                        <a href="magnesium.html"><li class="magnesium">Magnesium</li></a>                        
                        <a href="potassium.html"><li class="potassium">Potassium</li></a>
                        <a href="sodium.html"><li class="sodium">Sodium</li></a>
                    </ul>
                </li>
        </ul>
    </nav>
</header>