<div class="grid-item">                    
        <h3>Specials</h3>
        <ul>
        {% for specials in page.specials %}
            <li>{{ specials }}</li>
        {% endfor %}       
        </ul>
    </div>

</article>

<a class="button" href="menu.html">Menu</a>

<!-- Button array for switching between next/prev elements 
<div class="button-array">
    <a class="button switch" href="{{ page.prev }}">◀</a>  
    <a class="button switch" href="{{ page.next }}">▶</a>    
</div>
-->
</div> 