<div class="grid-item">
    <h3>Ingredients</h3>        
    <ul>
    {% for ingredients in page.ingredients %}
        <li><span>Element:</span> {{ ingredients }}</li>
        <li><span>What:</span> {{ ingredients }}</li>
        <li><span>Chemical Symbol:</span> {{ ingredients }}</li>
        <li><span>Atomic Number:</span> {{ ingredients }}</li>
        <li><span>Atomic Mass:</span> {{ ingredients }}</li>
        <li><span>Category:</span> {{ ingredients }}</li>                    
    {% endfor %}
    </ul>
</div>