<header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">What Makes an Element?</a></li>                
            <li class="dropdown"><a href="menu.html">Elements</a>
                <ul class="dropdown-content">
                    <a href="iron.html"><li class="iron">Iron</li></a>
                    <a href="calcium.html"><li class="calcium">Calcium</li></a>
                    <a href="potassium.html"><li class="potassium">Potassium</li></a>
                    <a href="sodium.html"><li class="sodium">Sodium</li></a>
                    <a href="magnesium.html"><li class="magnesium">Magnesium</li></a>                        
                </ul>
            </li>
        </ul>
    </nav>
</header>