    <defs>
        <filter id="dropshadow" x="0" y="9px" width="100%" height="100%" filterUnits="userSpaceOnUse">
        <feGaussianBlur in="SourceAlpha" stdDeviation="8"/> <!-- stdDeviation is how much to blur -->
        <feOffset dx="5" dy="5" result="offsetblur"/> 
        <feComponentTransfer>
                <feFuncA type="linear" slope="0.25"/>
        </feComponentTransfer>
        <feMerge> 
            <feMergeNode/>
            <feMergeNode in="SourceGraphic"/>
            <feMergeNode in="SourceGraphic"/>
        </feMerge>
        </filter>
    </defs>